@page "/"
@using KomTracker.WEB.Helpers
@attribute [Authorize]

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Functions" Color="Color.Primary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total KOMs</MudText>
                    <MudText Typo="Typo.h5">@_totalKomsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Success" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"><MudTooltip Text="In last 30 days">New KOMs</MudTooltip></MudText>
                    <MudText Typo="Typo.h5">@_newKomsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper  Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Remove" Color="Color.Error" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"><MudTooltip Text="In last 30 days">Lost KOMs</MudTooltip></MudText>
                    <MudText Typo="Typo.h5">@_lostKomsCount</MudText>
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="6">
            <MudCard  Style="height:100%;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6" Color="Color.Success">New KOMs</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="px-0">
                    <MudSimpleTable Elevation="0" Hover="true" FixedHeader="true" Style="height: 400px;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cat</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var evm in _newKoms)
                            {
                                <tr>
                                    <td>
                                        <MudLink Target="_blank" Href="@($"https://strava.com/segments/{evm.Segment.Id}")"><MudHighlighter Text="@evm.Segment.Name" /></MudLink>
                                        </td>
                                    <td>
                                        <div class="d-flex align-center justify-space-between climb-category" style="background-color: @ViewHelper.GetClimbCategoryColor(evm.Segment.ClimbCategoryExtended)">
                                            <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                                            <span>@evm.Segment.ClimbCategoryExtendedText</span>
                                        </div>
                                    </td>
                                    <td>
                                        <MudTooltip Text="@evm.Segment.ActivityType">
                                            <MudIcon Icon="@ViewHelper.GetActivityTypeIcon(evm.Segment.ActivityType)"></MudIcon>
                                        </MudTooltip>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="6">
            <MudCard  Style="height:100%;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6" Color="Color.Error">Lost KOMs</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent Class="px-0">
                    <MudSimpleTable Elevation="0" Hover="true" FixedHeader="true" Style="height: 400px;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cat</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var evm in _lostKoms)
                            {
                                <tr>
                                    <td>
                                        <MudLink Target="_blank" Href="@($"https://strava.com/segments/{evm.Segment.Id}")"><MudHighlighter Text="@evm.Segment.Name" /></MudLink>
                                        </td>
                                    <td>
                                        <div class="d-flex align-center justify-space-between climb-category" style="background-color: @ViewHelper.GetClimbCategoryColor(evm.Segment.ClimbCategoryExtended)">
                                            <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                                            <span>@evm.Segment.ClimbCategoryExtendedText</span>
                                        </div>
                                    </td>
                                    <td>
                                        <MudTooltip Text="@evm.Segment.ActivityType">
                                            <MudIcon Icon="@ViewHelper.GetActivityTypeIcon(evm.Segment.ActivityType)"></MudIcon>
                                        </MudTooltip>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                </MudCardContent>
            </MudCard>
        </MudItem>

    @*    <MudItem xs="12">
            <MudPaper  Class="pa-4" >
                <PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart"/>
            </MudPaper>
        </MudItem>*@
    </MudGrid>
}

@*@code {
    PlotlyChart chart;
    Config config = new Config() { Responsive = true, StaticPlot = true };
    Layout layout = new Layout();
    // Using of the interface IList is important for the event callback!
    IList<ITrace> data = new List<ITrace>
    {
        new Scatter
        {
            Name = "ScatterTrace",
            Mode = Plotly.Blazor.Traces.ScatterLib.ModeFlag.Lines | Plotly.Blazor.Traces.ScatterLib.ModeFlag.Markers,
            X = new List<object>{"2021-11-26", "2021-12-02", "2021-12-03", "2021-12-04", "2021-12-05", "2021-12-06"},
            Y = new List<object>{590, 591, 593, 597, 599, 600}
        }
    };
}*@