@page "/faq"
@using KomTracker.Application.Shared.Helpers
@using KomTracker.WEB.Helpers
@attribute [Authorize]

<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="How often data is refreshed?">
        <MudText Typo="Typo.body2">
            - KOMs changes: every hour
            - Segments detailed informations (like attempts, athlets etc.): every hour at half past
        </MudText>
    </MudExpansionPanel>

    <MudExpansionPanel Text="What are the segments categories?">
        <MudText Typo="Typo.h6">Strava categories</MudText>

        <MudText Typo="Typo.body2" GutterBottom="true">Climb categorization acording to <MudLink Href="https://support.strava.com/hc/en-us/articles/216917057-Climb-Categorization">strava</MudLink></MudText>

        
        <MudText Typo="Typo.body2" GutterBottom="true">
            Categories from 4 to HC:<br />
            - The average gradient is at least 3.0%<br />
            - The segment distance is at least 300 meters.<br />
            - The length of the climb (in meters) multiplied by the grade of the climb is greater than 8000 (rank)<br />
        </MudText>

        <div class="d-flex align-center my-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(1)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(1)</span>
            </div> 
            <span>rank > 8000</span>
        </div>

        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(2)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(2)</span>
            </div> 
            <span>rank > 16000</span>
        </div>

        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(3)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(3)</span>
            </div> 
            <span>rank > 32000</span>
        </div>

        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(4)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(4)</span>
            </div> 
            <span>rank > 64000</span>
        </div>

        <div class="d-flex align-center">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(5)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(5)</span>
            </div> 
            <span>rank > 64000</span>
        </div>
        
        <MudText Typo="Typo.h6" Class="mt-6">KOM Tracker categories</MudText>
        <MudText Typo="Typo.body2" GutterBottom="true">
            KOM Tracker adds extra categories for segments not categorized by strava (cat 0)
        </MudText>

        <div class="d-flex align-center my-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-1)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-1)</span>
            </div> 
            <span>Wall - average gradient >= 8%</span>
        </div>
        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-2)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-2)</span>
            </div> 
            <span>Minor climb - average gradient >= 3% and &lt; 8%</span>
        </div>

        <MudText Typo="Typo.body2" Class="mt-2 mb-4">Flat segments average gradient >= -4% and &lt; 3%:</MudText>
        <div class="d-flex align-center my-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-3)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-3)</span>
            </div> 
            <span>TT long - distance >= 7500m</span>
        </div>
        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-4)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-4)</span>
            </div> 
            <span>TT short - distance >= 3500m and &lt; 7500m</span>
        </div>
        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-5)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-5)</span>
            </div> 
            <span>Flat standard - distance >= 1000m and &lt; 3500m</span>
        </div>
        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-6)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-6)</span>
            </div> 
            <span>Sprint - distance &lt; 1000m</span>
        </div>

        <MudText Typo="Typo.body2" Class="mt-2 mb-4">Downhill segments:</MudText>
        <div class="d-flex align-center my-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-7)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-7)</span>
            </div> 
            <span>Downhill standard - average gradient >= -8% and &lt -4%</span>
        </div>

        <div class="d-flex align-center mb-4">
            <div class="d-flex align-center justify-space-between climb-category mr-2" style="background-color: @ViewHelper.GetExtendedCategoryColor(-8)">
                <MudIcon  Icon="@Icons.Material.Filled.Landscape"></MudIcon>
                <span>@SegmentHelper.GetExtendedCategoryText(-8)</span>
            </div> 
            <span>Downhill steep - average gradient &lt -8%</span>
        </div>
    </MudExpansionPanel>
</MudExpansionPanels>